<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="Krypton.Docking" version="6.2111.312" targetFramework="net48" />
  <package id="Krypton.Navigator" version="6.2111.312" targetFramework="net48" />
  <package id="Krypton.Toolkit" version="6.2111.312" targetFramework="net48" />
  <package id="Krypton.Workspace" version="6.2111.312" targetFramework="net48" />
</packages>